@import '@fontsource-variable/inter/opsz.css';
@import '@fontsource-variable/space-grotesk/wght.css';

html {
  color-scheme: light dark;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
